/*body*/
body{
    text-align: center;
    background-color: grey;
    background: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/08/inteligencia-artificial.jpg");
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
   
}
header{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 0;
 }

 div.contenedor-imagen01{
    /*position: absolute;*/
    display: absolute;
    border: #a62b2b;    
    margin-left: 40%;       
 }
 div.contenedor-imagen02{
    /*position: absolute;*/
    display: absolute;           
    margin-left: 0.5%;     
}
div.contenedor-imagen03{
    /*position: absolute;*/
    display: absolute;          
    margin-left: 1%;   
}
div.contenedor-imagen04{
    /*position: absolute;*/
    display: absolute;          
    margin-left: 1.5%;     
}
 div.contenedor-imagen05{
    /*position: absolute;*/
    display: absolute;
    border: #3C3C3C;          
    margin-left: 2%; 
}
 .secEncriptaYdesencripta{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 1em;
         
}

 .textarea{
   margin-top: 7%;
   width: 80%;
   height: 50%;
   border: none;
   color: rgba(0, 0, 0, 0.933);
   font-size: 1.5em;
   font-weight: bold;
   padding: 1em;
   background-color: rgba(248, 251, 254, 0.219);
   place-content: red;
   margin: auto;
   resize: none;
   outline: none;
 }


.textarea::placeholder{
     color:rgb(71, 38, 71);
     
    
}
.alerta{
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 0;
    justify-content: center;
}
.alerta p{
    width: 100%;
    color: #e2d1d1;
    text-align: center;
    font-size: 1.2em;
}

.div-btn{
display: flex;
flex-direction: row;
width: 70%;
margin: auto;
margin-top: 2%; 
justify-content: center;

}    


.SecCajaResultado{
display: flex;
flex-direction: column;
width: 25%;
min-height: auto;
background-color: rgba(248, 251, 254, 25%);
justify-content: start;
align-items: center;
align-content: center;
margin-top: -5em;
margin-right: 1em;
border-radius: 1em;
text-align: center;
height: 90vh;
}

.contenedorImg .rOk{
display: flex;
width: 100%;
margin: auto;
margin-top: 50%;
justify-content: center;
align-items: center;
opacity: 40%;

}
.contenedorImg .rsalta{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 50%;
    justify-content: center;
    align-items: center;
    opacity: 40%;
    
    }

.text1{
    padding: 1em;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    font-weight: bold;
}
.text2 {
    padding: 1em;
    color: #fff;
    font-size: 1.3em;
}

#titulo-resultado{
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.933);
    font-weight: bold;
    font-size: 1.8em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #fff;
}
   
#idCajaDeTxt02{
display: flex;
color: rgb(255, 255, 255);
width: 90%;
font-size: 1.5em;
padding: 0.5em;
border: none;
height: 90%;
background-color: transparent;
place-content: red;
margin: auto;
resize: none;
outline: none;
margin-top: 2em;
}

.btnCopy{

    transition: all 0.5s;
    position: relative; 
    margin-left: 1.5em;
    margin-right: 2em;
    width:90%; 
}

footer{
    width: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    border-top: 1px solid rgb(178, 182, 178);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 2em;
    text-shadow: #a62b2b;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
	height: 33.33%;
	width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FF6766; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

/* 
========================
      BUTTON TWO
========================
*/
.btn-two {
	display:inline;
    width:22em;
    height: 3.5em;        
    background-color: #a62b2b;
    border:none;
    border-radius: 1.2em;
    margin-right: 1em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1em;
    box-shadow: 1px 2px 2px rgb(94, 91, 91);

    transition: all 0.5s;
    position: relative; 
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
    border-radius: 1.2em;
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1.2em;
	background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

/*postik*/
div.postik{
    position: absolute;    
}
  ul,li,ol{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding:3em;
  }
  ul li .a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:5em;
    width:5em;
    padding:1em;
    margin-top: -50px;
   /* margin-left: 60px;*/
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  li div ol{
    overflow:hidden;
    font-size:60%;
    font-weight:bold;
    padding-bottom:10px;
    font-family:"Reenie Beanie",arial,sans-serif;
    padding-bottom:10px;
    
    
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    font-size:60%;
    font-weight:bold;
    padding-bottom:10px;
  }
  ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:60%;
  }
  ul li .a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  ul li:nth-child(even) .a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) .a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) .a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  ul li .a:hover,ul li .a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  ol{text-align:center;}
  ol li{display:inline;padding-right:1em;}
  ol li .a{color:#fff;}

  

@media only screen and (max-width: 700px){
  main{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
  }

  header img{
      width: 10%;
  }
  .div-btn{
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: 2em;
      width: 95%;
     
  }
      .btnEncriptarC, .btnDesEncriptarC{
          width: 100%;
          margin: auto;
          margin-bottom: 2em;
      }
  .textarea{
      font-size: 100%;
      margin: 0;
      margin-top: 10%;
      width: 100%;
  }
  .SecCajaResultado{
      margin: auto;
      width: 90%;
      
      height:auto;
  
  }
  .SecCajaResultado img{
      display: none;
      margin: none;
  }
  .btn-copy{
      width: auto;
      height: auto;
      margin: auto;
  }
  .btn3{
      width: 95%;
      height: 4em;
  }
  #idCajaDeTxt02{
      height: auto;
      margin: 0;
      margin-top: 1em;
      margin-bottom: 1em;
  }
  header{
    margin-left: -6.5em;
    padding-top: 4em;
  }
  header img{
    position: absolute;
    width: 10%;
    height: 5%;
    margin-left: 30%;
  }
  div.contenedor-imagen01{
    /*position: absolute;*/
    display: absolute;
    border: #3C3C3C;          
    margin-left: 0%; 
}
div.contenedor-imagen02{
  /*position: absolute;*/
  display: absolute;
  border: #3C3C3C;          
  margin-left: 20%; 
}
div.contenedor-imagen03{
  /*position: absolute;*/
  display: absolute;
  border: #3C3C3C;          
  margin-left: 20%; 
}
div.contenedor-imagen04{
  /*position: absolute;*/
  display: absolute;
  border: #3C3C3C;          
  margin-left: 20%; 
}
div.contenedor-imagen05{
  /*position: absolute;*/
  display: absolute;
  border: #3C3C3C;          
  margin-left: 20%; 
}
  ul li{
    width: 15%;
    padding: 0.5em;
    position: relative;
  }
  ul li .a {
  height: 3em;
  width: 3em;
}
ul li p {
  font-size: 10%;
}
main {
  padding-top: 1em;
}
}
